body
{
    background-color:#5CDB95;
}

h1
{
    color: purple;
    font: bold;
}

h2
{
    color: #05386B;
    background-color: blanchedalmond;
}

p
{
    color: blue;
}

ul
{
    color: red;
}

img
{
    border: chartreuse;

}


